<div class="col-md-12">
  <div class="card card-plain">
    <button class="btn btn-danger btn-block">
      <span class="mat-button-wrapper">Add new order</span>
    </button>
  </div>
  <div class="card card-plain">
    <div class="card-header card-header-info">
      <h2 class="card-title mt-0">Customer List</h2>
      <p class="card-category">All customers should be seen here</p>
    </div>

      <div class="col-12 my-2 table-responsive">
          <table class="table table-hover mx-auto w-auto">
              <thead>
                  <tr>
                    <th (click)="onColumnSelect('id')">#</th>
                    <th (click)="onColumnSelect('first_name')">FirstName</th>
                    <th (click)="onColumnSelect('last_name')">LastName</th>
                    <th (click)="onColumnSelect('email')">Email</th>
                    <th (click)="onColumnSelect('')">Zip</th>
                    <th (click)="onColumnSelect('')">Country</th>
                    <th (click)="onColumnSelect('')">City</th>
                    <th (click)="onColumnSelect('')">Street</th>
                    <th (click)="onColumnSelect('')">Notes</th>
                    <th (click)="onColumnSelect('active')">Active</th>
                  </tr>
                  <tr>
                    <th><input (keyup)="onFilter('id', $event)" class="form-control"  type="text" placeholder="Search ID"></th>
                    <th><input (keyup)="onFilter('first_name', $event)" class="form-control"  type="text" placeholder="Search LastName"></th>
                    <th><input (keyup)="onFilter('last_name', $event)" class="form-control"  type="text" placeholder="Search LastName"></th>
                    <th><input (keyup)="onFilter('email', $event)" class="form-control"  type="text" placeholder="Search Email"></th>
                    <th><input (keyup)="onFilter('', $event)" class="form-control"  type="text" placeholder="Search Zip"></th>
                    <th><input (keyup)="onFilter('', $event)" class="form-control"  type="text" placeholder="Search Country"></th>
                    <th><input (keyup)="onFilter('', $event)" class="form-control"  type="text" placeholder="Search City"></th>
                    <th><input (keyup)="onFilter('', $event)" class="form-control"  type="text" placeholder="Search Street"></th>
                    <th><input (keyup)="onFilter('', $event)" class="form-control"  type="text" placeholder="Search Notes"></th>
                    <th><input (keyup)="onFilter('active', $event)" class="form-control"  type="text" placeholder="Search Status"></th>

                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let customer of customerList$ | async ">  <!-- | customerFilter:filterKey:phrase  | sorter:direction:columnKey */ -->
                      <td>{{ customer.id }}</td>
                      <td>{{ customer.first_name }}</td>
                      <td>{{ customer.last_name }}</td>
                      <td>{{ customer.email }}</td>
                      <td>{{ customer.address.zip }}</td>
                      <td>{{ customer.address.country }}</td>
                      <td>{{ customer.address.city }}</td>
                      <td>{{ customer.address.street }}</td>
                      <td>{{ customer.address.notes }}</td>
                      <td>{{ customer.active }}</td>
                      <td>
                          <div class="btn-group">
                              <button class="btn btn-warning">
                                  <i class="material-icons">
                                      mode_edit
                                  </i>
                              </button>
                              <button (click)="removeCustomer(customer.id)" class="btn btn-danger">
                                  <i class="material-icons">
                                      delete_forever
                                  </i>
                              </button>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>

  </div>
</div>
