
<div class="container-fluid">
  <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 mt-4">

        <app-info-card [cardClass]="'card-header-success'" [icon]="'shopping_cart'" [title]="'Number of active products'"
          [content]="'Active: ' + infoData.activeProductCount" [link]="'product'" [footer]="'More details...'">
        </app-info-card>

      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mt-4">

        <app-info-card [cardClass]="'card-header-danger'" [icon]="'unpublished'" [title]="'Number of unpaid bills'"
          [content]="'Unpaid: ' + infoData.unpaidBills" [link]="'bill'" [footer]="'More details...'"></app-info-card>


      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mt-4">

        <app-info-card [cardClass]="'card-header-danger'" [icon]="'paid'" [title]="'Amount of unpaid bills'"
          [content]="'Unpaid: $' + infoData.unpaidAmount" [link]="'bill'" [footer]="'More details...'"></app-info-card>


      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mt-4">

        <app-info-card [cardClass]="'card-header-info'" [icon]="'person'" [title]="'Active customers'"
          [content]="infoData.activeCustomers + ' Person'" [link]="'customers'" [footer]="'More details...'"></app-info-card>


      </div>
    </div>
</div>

<div class="container-fluid mt-5">
<div class="row">

  <div class="col-xl-4 col-lg-12">

    <app-status-card [cardClass]="'card-header-info'" title="Products" [data]="productChartData"
      [colors]="productChartColors">
    </app-status-card>

  </div>

  <div class="col-xl-4 col-lg-12">

    <app-status-card [cardClass]="'card-header-warning'" title="Bills" [data]="billChartData"
      [colors]="billChartColors">
    </app-status-card>

  </div>

  <div class="col-xl-4 col-lg-12">

    <app-status-card [cardClass]="'card-header-purple'" title="Orders" [data]="orderStatusChartData"
      [colors]="orderStatusChartColors">
    </app-status-card>

  </div>

</div>
  <div class="container-fluid">
    <div class="row">

      <div class="col-xl-6 mb-5 col-lg-12">
        <app-table-card [data]="newProductsList">

        </app-table-card>
        <!--<a routerLink="/product" class="stretched-link"></a>-->
      </div>

      <div class="col-xl-6 mb-5 col-lg-12">
        <app-customers-card [data]="newCustomersList">

        </app-customers-card>
        <!--<a routerLink="/customers" class="stretched-link"></a>-->
      </div>
    </div>

  </div>
</div>

