thead th {
  cursor: pointer;
  background-color: #EEEEEE;
  margin-right: 15px;
  margin-left: 15px;
  span {
    visibility: hidden;
  }

  &:hover {
    background-color:#F5F5F5;
  }

  &.active {
    color: #000;

    span {
      visibility: visible;
    }
  }

}

