<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://trello.com/b/Iwyuh36f/piszkos-12-board">
                        Trello board
                    </a>
                </li>
                <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by Piszkos 12.
        </div>
    </div>
</footer>
