
  <div class="card card-chart">
    <div class="card-header card-header-success" class="{{ cardClass}}">
      <div>{{title}}</div>
    </div>
    <div class="card-body">

      <!--mycomponent.component.html file -->
      <!-- This is the container element of your chart-->

    <google-chart style="width: 100%;"
        #chart

        [title]="changingChart.title"
        [type]="changingChart.type"
        [data]="data"
        [options]="changingChart.options"
        [dynamicResize]="true"

    >
    </google-chart>



