<div class="col-md-12">
    <div class="card card-plain">
        <button class="btn btn-danger btn-block">
            <span class="mat-button-wrapper">Add new order</span>
            <!-- <div class="mat-button-ripple mat-ripple" matripple=""></div> -->
            <!-- <div class="mat-button-focus-overlay"></div> -->
        </button>
    </div>
    <div class="card card-plain">
        <div class="card-header card-header-primary">
            <h4 class="card-title mt-0">Order List</h4>
            <p class="card-category">All orders should be seen here</p>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="">
                        <tr>
                            <th>ID</th>
                            <th>Customer ID</th>
                            <th>ProductID</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orderList$ | async">
                            <td>{{ order.id }}</td>
                            <td>{{ order.customerID }}</td>
                            <td>{{ order.productID }}</td>
                            <td>{{ order.amount }}</td>
                            <td>{{ order.status }}</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-warning">
                                        <span class="material-icons">
                                            create
                                        </span>
                                    </button>
                                    <button class="btn btn-danger">
                                        <span class="material-icons">
                                            delete_forever
                                        </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>