li.active > a.red {
  background-color: red;
}

li.active > a.purple {
  background-color: #9128AC;
}

li.active > a.green {
  background-color: #54AD58;
}

li.active > a.orange {
  background-color: #FEA01C;
}

li.active > a.azure {
  background-color: #12B8CD;
}
