<div class="container">
  <div class="col-md-8  mx-auto w-auto">
      <div class="card">
          <div class="card-header card-header-info mb-3">
              <h2 class="card-title">Edit Customer</h2>
              <p class="card-category">Change anything you'd like!</p>
          </div>

          <form #customerForm="ngForm">
            <div class="col-md-10 offset-1">
              <div class="form-group">
                <label for="first_name">First name</label>
                <input [(ngModel)]="customer.first_name" type="text" class="form-control" id="first_name"
                name="first_name" aria-describedby="first_name" required #firstName="ngModel">
                <div [hidden]="firstName.valid || firstName.pristine" class="text-danger">
                  Please choose a firstname.
                </div>
              </div>

              <div class="form-group">
                <label for="last_name">Last name</label>
                <input [(ngModel)]="customer.last_name" type="text" class="form-control" id="last_name"
                name="last_name" aria-describedby="last_name" required #lastName="ngModel">
                <div [hidden]="lastName.valid || lastName.pristine" class="text-danger">
                  Please choose a lastname.
                </div>
              </div>

              <div class="form-group">
                <label for="name">Email</label>
                <input [(ngModel)]="customer.email" type="email" class="form-control" id="email"
                name="email" aria-describedby="email" required #email="ngModel">
                <div [hidden]="email.valid || email.pristine" class="text-danger">
                  Please choose a email.
                </div>
              </div>

              <div class="form-group">
                <label for="price">Zip</label>
                <input [(ngModel)]="customer.address.zip" type="number" class="form-control" id="zip"
                name="zip" aria-describedby="zip" required #customerZip="ngModel" min="1">
                <div [hidden]="customerZip.valid || customerZip.pristine" class="text-danger">
                  Please choose Zip
                </div>
              </div>

              <div class="form-group">
                <label for="name">Country</label>
                <input [(ngModel)]="customer.address.country" type="country" class="form-control" id="country"
                name="country" aria-describedby="country" required #country="ngModel">
                <div [hidden]="country.valid || country.pristine" class="text-danger">
                  Please choose a Country.
                </div>
              </div>

              <div class="form-group">
                <label for="name">City</label>
                <input [(ngModel)]="customer.address.city" type="city" class="form-control" id="city"
                name="city" aria-describedby="city" required #city="ngModel">
                <div [hidden]="city.valid || city.pristine" class="text-danger">
                  Please choose a City.
                </div>
              </div>

              <div class="form-group">
                <label for="name">Street</label>
                <input [(ngModel)]="customer.address.street" type="street" class="form-control" id="street"
                name="street" aria-describedby="street" required #street="ngModel">
                <div [hidden]="street.valid || street.pristine" class="text-danger">
                  Please choose a street.
                </div>
              </div>

              <div class="form-group">
                <label for="description">Notes</label>
                <textarea  [(ngModel)]="customer.address.notes" name="description"
                class="form-control" id="description" rows="3" required #customerNotes="ngModel"></textarea>

                <div [hidden]="customerNotes.valid || customerNotes.pristine" class="text-danger">
                  Please choose description
                </div>
              </div>

              <div class="form-check mt-4">
                <label class="form-check-label">
                  <input name="active" [(ngModel)]="customer.active" class="form-check-input" type="checkbox" value="">
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                  Active
                </label>
              </div>

            <button [disabled]="!customerForm.form.valid" (click)="onSave()" type="submit"
            class="btn btn-info float-right mb-4">Submit</button>
          </div>
        </form>


      </div>
  </div>
</div>
