<div class="col-md-12">
  <div class="card card-plain">
      <button  [routerLink]="[0]" class="btn btn-danger btn-block">
          <span class="mat-button-wrapper">Add new product</span>
      </button>
  </div>
  <div class="card card-plain">
      <div class="card-header card-header-success">
          <h2 class="card-title mt-0">Product List</h2>
          <p class="card-category">All products should be seen here</p>
      </div>

      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-hover mx-auto w-auto">
                  <thead class="">
                      <tr class="bcolor">
                        <th *ngFor="let col of cols"
                        [class.active]="order === col.key"
                        (click)="setOrder(col.key)"
                        id="{{ col.key }}"
                        draggable="true"
                        (dragover)="$event.preventDefault()"
                        (dragstart)="onHeaderDragStart($event)"
                        (drop)="onHeaderDrop($event)">
                        {{ col.title }}
                        <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>

                      </th>
                      </tr>

                      <tr>
                        <th *ngFor="let col of cols">
                          <input (keyup)="onFilter(col.key, $event)" class="form-control"  type="text" placeholder="Filter">
                        </th>
                      </tr>

                  </thead>
                  <tbody>
                    <tr *ngFor="let product of productList$ | async | orderBy:order:reverse | paginate: { itemsPerPage: 10,
                          currentPage: page,
                          totalItems:totalLength
                        }">
                        <td *ngFor="let col of cols">{{product[col.key]}}
                        <!--  <ng-container *ngIf="product[col.key] === false">
                            <span class="material-icons info">check_box_outline_blank</span>
                          </ng-container>

                          <ng-container *ngIf="product[col.key] === true">
                            <span class="material-icons info">check_box</span>
                          </ng-container>

                          <ng-container *ngIf="product[col.key] !== true && product[col.key] !== false">
                            {{ product[col.key] }}
                          </ng-container>-->
                        </td>

                            <td>
                                <div class="btn-group">
                                    <button [routerLink]="[product.id]" class="btn btn-warning">
                                        <span class="material-icons">
                                            create
                                        </span>
                                    </button>
                                    <button (click)="onDelete(product)" class="btn btn-danger">
                                        <span class="material-icons">
                                            delete_forever
                                        </span>
                                    </button>
                                </div>
                            </td>
                  </tbody>

                  <tfoot>
                    <tr>
                      <td colspan="4" class="total text-right" *ngIf="(productList$ | async) as list">Total prices on the page: {{ list | orderBy:order:reverse | paginate: { itemsPerPage: 10,
                        currentPage: page,
                        totalItems:totalLength
                      } | sum: 'price' }}

                    </td>

                    </tr>
                  </tfoot>

              </table>
              <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
          </div>
      </div>
  </div>
</div>




