<footer class="footer mt-4">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a target="_blank" href="https://www.creative-tim.com">
            Creative Tim
          </a>
        </li>
        <li>
          <a  target="_blank" href="https://creative-tim.com/presentation">
            About Us
          </a>
        </li>
        <li>
          <a target="_blank" href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.creative-tim.com/license">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      {{ actualYear}}, made with <i class="material-icons">favorite</i> by
      <a target="_blank" href="https://es-csapat.web.app/" target="_blank">Piszkos 12 csapata</a> for a better web.
    </div>
  </div>
</footer>
