.error-message {
  font-style: italic;
  font-size: 0.8em;
  color: rgb(155, 4, 4);
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
